* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b5c1e0;
}

a:visited {
    color: whitesmoke;
}

.texto-destacado {
    font-family: 'Freehand', cursive;
    font-size: 2rem;
}

.titulo-seccion {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1.25rem;
    color: rgba(57, 88, 166, 1);
    text-shadow: 2px 2px 2px #E64E76;
    margin-bottom: 15px;
}

.titulo-articulo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.35rem;
    text-decoration: underline;
}

nav .nav-seleccion {
    color: rgb(30, 66, 158);
    font-weight: bold;
}

/* ########## INICIO HEADER ########## */

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: rgba(57, 88, 166, 0.8);

    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

header nav {
    width: 60%;
}

header h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    text-align: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li {
    list-style-type: none;
    color: whitesmoke;
    margin: 0px 2px;
}

header ul li a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    opacity: 0.8;
}

header ul li a:hover {
    opacity: 1;
}

header ul li a:active {
    color: #E64E76;
}

/* ########## FIN HEADER ########## */


/* ########## INICIO MAIN DE INDEX.HTML ########## */

main {
    margin-top: 100px;
    margin-bottom: 50px;
}

#index-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 10%;
    margin-bottom: 10%;
}

#index-hero img {
    height: 450px;
    border-radius: 50%;
}

.articulo-noticia {
    display: flex;
    flex-direction: row;

    padding: 20px 80px;

    border: 2px solid black;
    margin: 20px;
    background-color: #ecbfcb;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.articulo-noticia-img {
    height: 300px;
    margin: 0 30px;

}

.articulo-noticia-izq {
    margin-right: 25%;
}

.articulo-noticia-der {
    flex-direction: row-reverse;
    margin-left: 25%;
}

.articulo-noticia div {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}


/* ########## FIN MAIN ########## */


/* ########## INICIO FOOTER ########## */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: rgba(57, 88, 166, 0.8);

    font-family: 'Titillium Web', sans-serif;
}

footer p {
    margin-left: 10px;
    font-style: italic;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul li {
    list-style-type: none;
    margin: 2px 10px;
}

/* ########## FIN FOOTER ########## */

/* ############################################################## */
/* Horarios.html */

#horarios-tabla {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
}

#horarios-aranceles {
    display: flex;
    flex-direction: column;
}

.horarios-cards {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

.horarios-card {
    display: flex;
    flex-direction: column;

    background-color: #e64e77b7;
    box-shadow: 5px 5px 5px rgba(57, 88, 166, 1);

    border: 2px solid #E64E76;
    border-radius: 20px;
    padding: 1%;
}

.horarios-card img {
    object-fit: cover;
    width: 250px;
    height: 250px;

    border-radius: 20px;
}

.horarios-card p {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}

.horarios-card ul {
    list-style-type: square;
    margin: 10px 0 10px 25px;
}

.horarios-card button {
    height: 30px;
    border-radius: 30px;
    margin: 0 15%;
    text-align: center;

}

#horarios-otrasopciones {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin: 80px 200px;
    border: 2px solid rgba(57, 88, 166, 0.8);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(57, 88, 166, 0.2);
    box-shadow: 5px 5px 5px #e64e77b7;
}

#horarios-otrasopciones ul {
    margin-left: 30px;
}

/* Horarios.html */
/* ############################################################## */


/* Suplementos.html */
/* ############################################################## */

#suplementos-hero {
    margin: 20px;
    margin-top: 125px;

    border: 2px solid rgba(57, 88, 166, 0.8);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(57, 88, 166, 0.2);
    box-shadow: 5px 5px 5px #e64e77b7;
}

#suplementos-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 200px;

    justify-content: flex-start;
}

#suplementos-cards .horarios-card {
    margin: 20px;
}

/* ############################################################## */
/* Suplementos.html */


/* about-us.html */
/* ############################################################## */

#aboutus-hero {
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 120px;
    margin-bottom: 50px;
}

#aboutus-hero img {
    object-fit: cover;
    width: 1400px;
}

#aboutus-instalaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutus-entrenadores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus-entrenadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 150px;
}

.aboutus-entrenador {
    display: flex;
    flex-direction: row;

    background-color: #479ed8b7;
    box-shadow: 5px 5px 5px rgba(57, 88, 166, 1);

    border: 2px solid #E64E76;
    border-radius: 20px;

    padding: 20px;
    margin: 10px 0;
}

.aboutus-entrenador img {
    height: 200px;
    border: 3px solid #E64E76;
    border-radius: 20px;
    margin-right: 70px;
}

.aboutus-entrenador div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ############################################################## */
/* about-us.html */


/* contacto.html */
/* ############################################################## */

#contacto-formulario {
    display: flex;
    flex-direction: column;
}

#contacto-formulario>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contacto-formulario>div form {
    width: 550px;
    margin-right: 50px;
}

#contacto-formulario>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto-formulario iframe {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}

#contacto-formulario ul {
    list-style-type: none;
    line-height: 1.3rem;
}

#contacto-disclaimer {
    margin: 50px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(230, 78, 118, 0.2);
}

/* ############################################################## */
/* contacto.html */