/* General */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: $color-background;
    // background-image: url('../assets/img/background-image.jpg');
    // background-size: cover;
    // background-repeat: repeat;
}

.btn-primary {
    border-color: $color-secondary;
    background-color: $color-primary;

    &:hover {
        background-color: $color-secondary;
    }
}

.card {
    box-shadow: 0 0 5px 2px $color-primary;
    transition: all 0.4s ease;

    &:hover {
        box-shadow: 0 0 5px 2px $color-secondary;
        transform: scale(1.025);
        transition: all 0.4s ease;
    }
}

.aboutus__historia .container {
    &:hover> :not(:hover) {
        opacity: 0.6;
    }
}

.carousel-indicators button {
    background-color: $color-tertiary !important;

    &.active {
        background-color: $color-secondary !important;
    }
}