/* General */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: $color-primary;
    background-image: url('../assets/img/background-image.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.btn-primary {
    background-color: $color-primary;
}

.btn-primary:hover {
    background-color: $color-secondary;
}