/* header */
.navbarSupportedContent-custom {
    text-align: center;
}

.navbar {
    background-color: $color-primary;

    &-brand__icon {
        height: 40px;
        transform: rotate(45deg);
    }
}