/* Media Queries */
@media screen and (max-width: 768px) {
    .header .vr {
        display: none;
    }

    .hero__text {
        display: none;
    }

    .hero__img {
        width: 300px;
        margin-bottom: 0;
    }

    .section__title {
        font-size: 1.8em;
        letter-spacing: 0.3em;
        color: $color-primary;
    }

    .footer {
        display: none;
    }

    .horarios__tabla table {
        font-size: 0.45em;
    }

    .horarios__aranceles .container {
        // @include applyFlex(column, true);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .horarios__otrasopciones ul {
        padding: 10px;
    }

    .horarios__otrasopciones li {
        font-size: 1.2em;
    }

    .entrenador__texto {
        font-size: 0.8em;
        line-height: 0.9em;
        color: $color-tertiary;
    }

    .suplementos__hero__text {
        display: none;
    }

    .contacto__form {
        border-radius: 0;
    }

    .contacto__datos {
        padding: 0;
    }

    .contacto__items .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
    }

    .contacto__iframe {
        height: 300px;
        width: 300px;
    }

    #consulta-texto {
        width: 300px;
    }

    .contacto__datos,
    .disclaimer__text {
        color: $color-tertiary;
        background-color: $color-primary;
        border-radius: 0;
    }
}