/* About us */
.aboutus__historia .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutus__entrenadores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 10%;
}

.aboutus__entrenador {
    border: 1px solid #E64E76;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: #3958a6cc;
}

.entrenador__img {
    height: 150px;
    padding: 5px;
    border: 1px solid #E64E76;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(230, 78, 118, 0.3);
}

.entrenador__datos {
    padding: 0;
}

.entrenador__datos li {
    list-style-type: none;
    list-style-position: inside;
}

.entrenador__texto {
    height: 150px;
    border: 1px solid #E64E76;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrenador__nombre {
    text-align: center;
}