/* Contacto */
.contacto__items .container {
    @include applyFlex(row, false);
    // display: flex;
    // flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contacto__form {
    @include applyFlex(column, false);
    // display: flex;
    // flex-direction: column;
    align-items: flex-start;
    border: 3px solid $color-primary--darker;
    border-radius: 20px;

    background-color: $color-primary;
    color: $color-tertiary;

    margin: 5px;
    padding: 10px;

    .fieldset__text {
        width: 100%;

        input {
            width: 100%;
            border-radius: 10px;
        }

    }

    .form__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: $color-tertiary;
    }
}

textarea {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form__field--col {
    @include applyFlex(column, false);
    // display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form__field--row {
    @include applyFlex(row, false);
    // display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacto__iframe-datos {
    @include applyFlex(column, true);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.contacto__iframe {
    width: 500px;
    height: 500px;
    margin: 20px;
}

.contacto__datos {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    @include applyFlex(row, true);
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    li {
        list-style-type: none;
    }
}

.contacto__iframe-datos .section__title {
    font-size: 2em;
    font-weight: bold;
    // letter-spacing: 0.5em;
}

.contacto__disclaimer {
    text-align: center;
    margin: 10px;
}